* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #737373;
  color: bisque;
}

.searchBar {
  display: block;
  background-color: #4a4a4a;
  padding: 12px;
  margin: 20px;
}

#searchInput {
  font-size: 1.5rem;
}

#searchBtn {
  border-radius: 50%;
  border: none;
  margin: 20px;
  font-weight: bolder;
  font-size: 3rem;
  width: 48px;
  height: 48px;
}
