* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #737373;
  color: bisque;
}

.searchBar {
  position: relative;
  border-radius: 15px;
  width: 400px;
  margin: 2rem auto;
  transition: ease 0.5s;
}

#searchInput {
  background: rgba(17, 32, 38);
  border: none;
  outline: none;
  padding: 1.5rem;
  padding-right: 4rem;
  width: 100%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  box-sizing: border-box;
  font-size: 1rem;
}

.gradient-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgb(211, 211, 211) 0%,
    rgb(179, 178, 178) 100%
  );
  filter: blur(10px);
  z-index: -1;
  border-radius: 1rem;
}

#searchBtn {
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

#searchBtn img {
  width: 1rem;
  height: 1rem;
}
